body {
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card {
    background-color: white;
    padding: 1.5rem 2rem;
    text-align: center;
    max-width: 300px;
    margin: 3rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
}
.card-1 {
    border-color: #39c983;
}

.card-2 {
    border-color: #68a3ff;
}
.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin:0 auto;
}
.card-1 .icon {
    background-color: #452c9f;
}
.card-2 .icon {
    background-color: #cad320;
}
.button {
    text-transform: capitalize;
    padding: 0.5rem 1rem;
}
.button-1 {
    background-color: #ffe8f1;
    color: #ff69a6;
    border:transparent;
    border-radius: 0.5rem;
    letter-spacing: 2px;
}
.button-2 {
    background-color: #ecf4ff;
    color: #68a3ff;
    border:transparent;
    border-radius: 0.5rem;
    letter-spacing: 2px;
}
